<template>
  <style-wrapper>
    <root>
      <safe-area-view :style="{flex: 1}">
        <network-bar></network-bar>
        <app-navigator v-if="ready"></app-navigator>
        <app-loading
          v-else
          :startAsync="cacheResourcesAsync"
          :onFinish="onFinish"
          :onError="onError"
        ></app-loading>
        <loading v-if="$store.state.loading"></loading>
      </safe-area-view>
    </root>
  </style-wrapper>
</template>
<script>
import Vue from "vue-native-core";

import { VueNativeBase, Root, Toast } from "native-base";
import { StatusBar, Alert } from "react-native";
import { Font, Asset, AppLoading } from "expo";

import Ripple from "react-native-material-ripple";
import StyleWrapper from "./theme/styleWrapper";
import AppNavigator from "./src/navigator";
import NetworkBar from "./src/components/NetworkBar";
import Loading from "./src/components/Loading";

import PermissionsInit from "./src/plugins/permissions";
import KeyboardInit from "./src/plugins/keyboard";
import Network from "./src/plugins/network";
import Axios from "./src/plugins/axios";
//
import style from "./theme/style";
import store from "./src/store";
import moment from "moment";
import firebase from "./src/plugins/firebase";
/*
 * Vue prototype
 */
Vue.prototype.$store = store;
Vue.prototype.$moment = moment;
Vue.prototype.$style = style;
Vue.prototype.$firebase = firebase;
Vue.prototype.$db = firebase.db;
//
Vue.prototype.$statusbar = StatusBar;
Vue.prototype.$alert = Alert;
Vue.prototype.$toast = Toast;
/*
 * Vue plugins
 */
Vue.use(VueNativeBase);
Vue.use(Axios, { store });
Vue.use(Network, { store });
Vue.use(KeyboardInit, { store });
Vue.use(PermissionsInit, { store, axios: Vue.prototype.$axios });
Vue.component("Ripple", Ripple);
/*
 * Fix Warning Debug
 */
import { YellowBox } from "react-native";
YellowBox.ignoreWarnings(["Remote debugger", "Can't call setState"]);
//
export default {
  components: {
    AppLoading,
    AppNavigator,
    StyleWrapper,
    NetworkBar,
    Root,
    Loading
  },
  data() {
    return {
      ready: false
    };
  },
  methods: {
    onFinish() {
      this.ready = true;
    },
    onError() {
      this.$alert.alert("Oops!", "App Error!");
    },
    async loadFonts() {
      try {
        await Font.loadAsync({
          Roboto: require("native-base/Fonts/Roboto.ttf"),
          Roboto_medium: require("native-base/Fonts/Roboto_medium.ttf"),
          Comfortaa: require("./assets/fonts/Comfortaa-Regular.ttf")
        });
        console.log("Loaded fonts");
      } catch (error) {
        console.log("Can't load fonts", error);
      }
    },
    async loadImages() {
      try {
        const images = [
          require("./assets/images/googleg_standard_color_128dp.png")
        ];
        images.map(async image => {
          return await Asset.fromModule(image).downloadAsync();
        });
        console.log("Loaded images");
      } catch (error) {
        console.log("Can't load images", error);
      }
    },
    async cacheResourcesAsync() {
      await this.loadFonts();
      await this.loadImages();
    }
  }
};
</script>


