<template>
  <nb-container>
    <nb-header
      noLeft
      iosBarStyle="dark-content"
      androidStatusBarColor="#ffffff"
    >
      <nb-body>
        <nb-title>Nhật ký order</nb-title>
      </nb-body>
      <nb-right />
    </nb-header>
    <view
      v-if="loading"
      :style="$style.content_center"
    >
      <nb-spinner color="#00C9FF" />
    </view>
    <nb-content v-else :refreshControl="renderRefreshControl">
      <refresh-control
        render-prop="refreshControl"
        :refreshing="refreshing"
        :colors="['#607D8B']"
        progressBackgroundColor="#fff"
        :onRefresh="onRefresh"
      />
      <nb-list v-if="services[0]">
        <nb-list-item
          v-for="(service, index) in services[0].extras"
          :key="index"
          avatar
          :on-press="()=>goChild(service)"
        >
          <nb-left>
            <nb-thumbnail
              small
              :source="{uri:service.image}"
            />
          </nb-left>
          <nb-body>
            <nb-text>{{service.name}}</nb-Text>
            <nb-text
              note
              :numberOfLines="2"
            >Doing what you like will always keep you happy</nb-Text>
          </nb-body>
          <nb-right>
            <nb-text note>${{service.price}}</nb-text>
          </nb-right>
        </nb-list-item>
      </nb-list>
    </nb-content>
  </nb-container>
</template>
<script>
import {RefreshControl} from "react-native"
import React from "react"

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      loading: true,
      refreshing:false,
      services: []
    };
  },
  methods: {
    goChild(service) {
      this.navigation.navigate("HistoryChild", service);
    },
    async onRefresh() {
      this.refreshing = true;
      await this.fechData()
      this.refreshing = false;
    },
    async fechData() {
      this.loading = true;
      await this.$axios({
        url: "https://api.fanalux.com/api/services",
        method: "get"
      }).then(res => {
        this.services = res.data;
        this.loading = false
      });
    },
    renderRefreshControl(){
      return <RefreshControl
          style={{backgroundColor: '#E0FFFF'}}
          refreshing={this.refreshing}
          onRefresh={this.onRefresh}
          tintColor="#ff0000"
          title="Loading..."
          titleColor="#00ff00"
          colors={['#ff0000', '#00ff00', '#0000ff']}
          progressBackgroundColor="#ffff00"
          />
    }
  },
  created() {
    this.fechData();
  }
};
</script>
<style>
</style>
