<template>
  <nb-container>
    <nb-header>
      <nb-left>
        <nb-button
          :onPress="()=>navigation.goBack()"
          transparent
          dark
        >
          <nb-icon type="MaterialCommunityIcons" name="chevron-left" />
        </nb-button>
      </nb-left>
      <nb-body>
        <nb-title>Detail</nb-title>
      </nb-body>
      <nb-right />
    </nb-header>
    <nb-content padder>
      <nb-text>Params: {{navigation.state.params}}</nb-text>
      <nb-text>Expo apps are React Native apps which contain the Expo SDK. The SDK is a native-and-JS library which provides access to the device's system functionality (things like the camera, contacts, local storage, and other hardware). That means you don't need to use Xcode or Android Studio, or write any native code, and it also makes your pure-JS project very portable because it can run in any native environment containing the Expo SDK.
        Expo also provides UI components to handle a variety of use-cases that almost all apps will cover but are not baked into React Native core, e.g. icons, blur views, and more.
        Finally, the Expo SDK provides access to services which typically are a pain to manage but are required by almost every app. Most popular among these: Expo can manage your Assets for you, it can take care of Push Notifications for you, and it can build native binaries which are ready to deploy to the app store.</nb-text>
    </nb-content>
  </nb-container>
</template>
<script>
export default {
  props: {
    navigation: {
      type: Object
    }
  }
};
</script>
<style>
</style>
