<template>
  <nb-container>
    <nb-header
      noLeft
      iosBarStyle="dark-content"
      androidStatusBarColor="#ffffff"
    >
      <nb-body>
        <nb-title>Trang Chủ</nb-title>
      </nb-body>
      <nb-right />
    </nb-header>
    <nb-content padder :contentContainerStyle="$style.content_center">
      <text>
        USER_DATA
      </text>
      <text>
        {{$store.state.user}}
      </text>
    </nb-content>
  </nb-container>
</template>
<script>
export default {
  props: {
    navigation: {
      type: Object
    }
  }
};
</script>
<style>
</style>
