<template>
  <nb-container>

    <nb-content
      padder
      :contentContainerStyle="$style.content_center"
    >
      <text>
        PROFILE
      </text>
      <nb-button
        block
        :style="{marginBottom:12}"
        :on-press="signOut"
      >
        <text>Sign out</text>
      </nb-button>
      <nb-button
        block
        :style="{marginBottom:12}"
        :on-press="toast1"
      >
        <text>Toast</text>
      </nb-button>
      <nb-button
        block
        :style="{marginBottom:12}"
        :on-press="toastButton"
      >
        <text>Toast Button</text>
      </nb-button>
      <nb-button
        block
        :style="{marginBottom:12}"
        :on-press="toastTop"
      >
        <text>Toast Top</text>
      </nb-button>
    </nb-content>
  </nb-container>
</template>
<script>
import { NavigationActions } from "react-navigation";
export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data: function() {
    return {
      stylesObj: {
        header: {
          height: this.$store.state.os === "ios" ? 64 : 45,
          marginTop:
            this.$store.state.os === "android"
              ? this.$store.state.status_bar_height
              : 0
        }
      }
    };
  },
  created() {
    
  },
  methods: {
    signOut() {
     this.navigation.dangerouslyGetParent().navigate('SignIn')
    },
    toast1(){
      this.$toast.show({
        text: "Toast Message",
        buttonText: "OK",
        duration: 3000
      });
    },
    toastButton(){
      this.$toast.show({
        text: "Toast Message!",
        buttonText: "OK",
        buttonTextStyle: { color: "#fff" },
        buttonStyle: { backgroundColor: "#5cb85c" }
      });
    },
    toastTop(){
      this.$toast.show({
        text: "Toast Message!",
        buttonText: "✕",
        position: "top"
      });
    }
  }
};
</script>
<style>
</style>
