<template>
  <nb-container class="container">
    <BarCodeScanner
      :onBarCodeRead="handleBarCodeRead"
      :barCodeTypes="barcodetype"
      :style="stylesObj.cameraStyles"
    />
    <nb-content
      v-if="lastScannedUrl"
      class="bar-view"
      :style="stylesObj.barView"
    >
      <nb-content
        class="bar-view-content"
        :style="stylesObj.barViewContent"
      >
        <nb-list-item
          last
          thumbnail
        >
          <nb-left>
            <nb-thumbnail
              square
              :source="{uri:item.thumbnail}"
            />
          </nb-left>
          <nb-body>
            <nb-text>{{item.user_name}}</nb-Text>
            <nb-text
              note
              :numberOfLines="2"
              :style="{color:'#616161'}"
            >{{item.content}}</nb-Text>
            <nb-text>Bàn số: {{lastScannedUrl}}</nb-text>
          </nb-body>
        </nb-list-item>
        <nb-button
          small
          block
          :style="{backgroundColor:'#00C9FF'}"
        >
          <nb-text>View</nb-text>
        </nb-button>
      </nb-content>
    </nb-content>
  </nb-container>
</template>

<script>
import { BarCodeScanner } from "expo";
export default {
  components: { BarCodeScanner },
  props: {
    navigation: {
      type: Object
    }
  },
  data: function() {
    return {
      barcodetype: [BarCodeScanner.Constants.BarCodeType.qr],
      lastScannedUrl: null,
      item: {
        avatar: "http://lorempixel.com/400/200/people/1",
        user_name: "The Coffee House - Le Duan (Danang)",
        thumbnail:
          "https://lh5.googleusercontent.com/p/AF1QipPBITebKWZ2dz-f93IdAayxR81y5wYYRo0keK7B=w213-h160-k-no",
        date: "April 20, 2018",
        content: "Address: 435 Lê Duẩn, Thạc Gián, Q. Thanh Khê, Đà Nẵng 550000"
      },
      stylesObj: {
        cameraStyles: {
          height: this.$store.state.device_height,
          width: this.$store.state.device_width
        },
        barView: {
          width: this.$store.state.device_width
        },
        barViewContent: {
          width: this.$store.state.device_width - 8 * 4
        }
      }
    };
  },
  methods: {
    handleBarCodeRead(result) {
      console.log(result);
      if (result.data !== this.lastScannedUrl) {
        // LayoutAnimation.spring();
        this.lastScannedUrl = result.data;
      }
    }
  },
  created: function() {
    this.navigation.addListener("didBlur", payload => {
      this.lastScannedUrl = null;
    });
    this.navigation.addListener("willFocus", payload => {
      this.lastScannedUrl = null;
    });
  }
};
</script>

 
<style>
.container {
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.bar-view {
  position: absolute;
  bottom: 20;
  left: 0;
  right: 0;
  padding: 15;
  flex-direction: row;
  width: 100%;
}
.bar-view-content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8;
  border-radius: 4px;
}
</style>