<template>
  <nb-container class="container">
    <LinearGradient
      :colors="['#FFFFFF', '#00C9FF']"
      :start="[1,0]"
      :end="[0,1]"
      :style="{flex:1,elevation: 0,
    shadowColor: null,
    shadowOffset: null,
    shadowRadius: null,
    shadowOpacity: null,}"
    >
      <!-- <safe-area-view :style="{flex: 1}"> -->
      <nb-grid>
        <nb-row
          :size="1"
          :style="$style.content_center"
        >
          <image
            :source="logo_yimy"
            class="logo"
          />
          <nb-text class="footer-text">{{logs}}</nb-text>
        </nb-row>
        <nb-row :size="2">
          <image
            :style="{
                backgroundColor: 'transparent',
                flex: 1,
                position: 'absolute',
                width: '100%',
                height: '100%',
                justifyContent: 'center',
              }"
            :source="bg_sign"
          />
          <view :style="$style.content_center">
            <nb-card :style="stylesObj.loginCard">
              <nb-card-item :style="{backgroundColor:'transparent'}">
                <nb-body>
                  <nb-button
                    rounded
                    :style="stylesObj.btnBorder"
                    block
                    light
                    :on-press="_handleGoogleLogin"
                  >
                    <image
                      :source="iconGoogle"
                      class="icon-google"
                    />
                    <nb-text
                      class="text-signin text-grey-darken-2"
                      :uppercase="false"
                    >Sign in with Google</nb-text>
                  </nb-button>
                  <nb-button
                    rounded
                    :style="stylesObj.btnBorder"
                    block
                    iconLeft
                    light
                    :on-press="_handleFacebookLogin"
                  >
                    <nb-icon
                      type="MaterialCommunityIcons"
                      name="facebook-box"
                      :style="{ fontSize: 30,color:'#3b5998'}"
                    />
                    <nb-text
                      class="text-signin text-grey-darken-2"
                      :uppercase="false"
                    >Sign in with Facebook</nb-text>
                  </nb-button>
                </nb-body>
              </nb-card-item>
            </nb-card>
            <nb-text class="footer-text">AzWebPlus co., Ltd @2019</nb-text>
          </view>
        </nb-row>
      </nb-grid>
    </LinearGradient>
  </nb-container>
</template>

<script>
import { LinearGradient, Google, Facebook } from "expo";
import { StatusBar, Alert } from "react-native";
import iconGoogle from "../../assets/images/googleg_standard_color_128dp.png";
import bg_sign from "../../assets/images/bg1.png";
import logo_yimy from "../../assets/images/logo_yimy.png";

export default {
  components: {
    LinearGradient
  },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      iconGoogle,
      bg_sign,
      logo_yimy,
      logs: null,
      stylesObj: {
        loginCard: {
          width:
            this.$store.state.device_width - this.$store.state.device_width / 4,
          backgroundColor: "transparent",
          elevation: 0,
          borderColor: "transparent",
          borderWidth: 0,
          marginTop: 60
        },
        btnBorder: {
          backgroundColor: "#fff",
          borderWidth: this.$store.state.pixel_size,
          borderColor: "#ccc",
          // elevation: 3,
          marginTop: 4,
          marginBottom: 4
        }
      }
    };
  },
  methods: {
    async _handleGoogleLogin() {
      this.$store.dispatch("loading", true);
      try {
        const { type, user } = await Google.logInAsync({
          androidStandaloneAppClientId:
            "1087709715208-oee5q7pase8verar73kv7n1j9s92acgj.apps.googleusercontent.com",
          // "1087709715208-tp7tv620q8mkkvuvvus3tcvqr5lrd661.apps.googleusercontent.com",
          iosStandaloneAppClientId: "<IOS_CLIENT_ID>",
          androidClientId:
            "1087709715208-oee5q7pase8verar73kv7n1j9s92acgj.apps.googleusercontent.com",
          iosClientId:
            "603386649315-vp4revvrcgrcjme51ebuhbkbspl048l9.apps.googleusercontent.com",
          scopes: ["profile", "email"]
        });

        switch (type) {
          case "success": {
            this.$store.dispatch("setUser", user);
            this.redirectHome();
            break;
          }
          case "cancel": {
            Alert.alert("Cancelled!", "Login was cancelled!");
            break;
          }
          default: {
            this.logs = type;
            Alert.alert("Oops!", "Login failed!");
          }
        }
        this.$store.dispatch("loading", false);
      } catch (e) {
        this.logs = e;
        Alert.alert("Oops!", "Login failed!");
        this.$store.dispatch("loading", false);
      }
    },
    async _handleFacebookLogin() {
      console.log("login fb");
      this.$store.dispatch("loading", true);
      const { type, token } = await Facebook.logInWithReadPermissionsAsync(
        "343994909700191",
        {
          permissions: ["public_profile", "email"]
        }
      );
      console.log("da cho xong await");
      if (type === "success") {
        // Get the user's name using Facebook's Graph API
        const response = await fetch(
          `https://graph.facebook.com/me?access_token=${token}&fields=id,name,email,picture.type(large)`
        );
        this.$axios({
          method: "get",
          url: `https://graph.facebook.com/me?access_token=${token}&fields=id,name,email,picture.type(large)`
        }).then(res => {
          this.$store.dispatch("setUser", res.data);
        });
        this.redirectHome();
      } else {
        this.logs = type;
        console.log(type);
        this.$store.dispatch("loading", false);
      }
    },
    redirectHome() {
      this.$store.dispatch("loading", false);
      this.$store.dispatch("showFooter", true);
      this.navigation.navigate("App");
    }
  },
  created() {
    console.log("Sign in page");
    this.navigation.addListener("willFocus", payload => {
      if (this.$store.state.os === "android") {
        this.$statusbar.setBackgroundColor("rgba(0,0,0,0)");
        this.$statusbar.setTranslucent(true);
        this.$statusbar.setBarStyle("dark-content");
      }
    });
    this.navigation.addListener("didBlur", payload => {
      if (this.$store.state.os === "android") {
        this.$statusbar.setBackgroundColor("#FFFFFF");
        this.$statusbar.setTranslucent(false);
        this.$statusbar.setBarStyle("dark-content");
      }
    });
  }
};
</script>

<style>
.logo {
  height: 60;
  resize-mode: contain;
  margin-top: 70;
}
.icon-google {
  margin-left: 20;
  margin-right: 2;
  width: 25;
  height: 25;
}
.text-grey-darken-2 {
  color: #616161;
}
.text-signin {
  width: 180;
}
.footer-text {
  position: absolute;
  bottom: 10;
  font-size: 10;
  margin-top: 24;
  color: #607d8b;
}
</style>
