<template>
  <nb-container>
    <nb-header
      noLeft
      iosBarStyle="dark-content"
      androidStatusBarColor="#ffffff"
    >
      <nb-body>
        <nb-title>Cửa hàng</nb-title>
      </nb-body>
      <nb-right />
    </nb-header>
    <nb-content>
      <scroll-view :style="stylesObj.view">
        <nb-list
          v-if="users.length>0"
          :leftOpenValue="100"
          :rightOpenValue="-75"
          :dataSource="getListArr()"
        >
          <ripple render-prop-fn="renderRow">
            <nb-list-item
              avatar
              :style="{paddingLeft:12}"
            >
              <nb-left :style="{height:'100%',width:30,alignItems: 'center',justifyContent: 'center'}">
                <text :style="{color:'#607D8B',fontSize:16,marginTop:-12}">{{args.num}}</text>
              </nb-left>
              <nb-body>
                <nb-text>{{args.name}}</nb-Text>
                <nb-text
                  note
                  :numberOfLines="2"
                >Doing what you like will always keep you happy . .</nb-Text>
              </nb-body>
              <nb-right>
                <nb-text note>3:43 pm</nb-text>
              </nb-right>
            </nb-list-item>
          </ripple>
          <view
            render-prop-fn="renderLeftHiddenRow"
            :style="{flex:1,flexDirection: 'row'}"
          >
            <nb-button
              :on-press="()=>{minusNum(args)}"
              :style="{backgroundColor:'#fff',height:'100%'}"
            >
              <nb-icon
                type="MaterialCommunityIcons"
                name="minus-circle-outline"
                :style="{fontSize:19,color:'#607D8B'}"
              />
            </nb-button>
            <nb-button
              :on-press="()=>{addNum(args)}"
              :style="{backgroundColor:'#fff',height:'100%'}"
            >
              <nb-icon
                type="MaterialCommunityIcons"
                name="plus-circle"
                :style="{fontSize:19,color:'#607D8B'}"
              />
            </nb-button>

          </view>
          <nb-button
            render-prop-fn="renderRightHiddenRow"
            arguments="item,secId,rowId,rowMap"
            :on-press="()=>{delItem(item,secId,rowId,rowMap)}"
            :style="{backgroundColor:'#fff',height:'100%'}"
          >
            <nb-icon
              type="MaterialCommunityIcons"
              name="delete-outline"
              :style="{fontSize:20,color:'#607D8B'}"
            />
          </nb-button>
        </nb-list>
      </scroll-view>
      <nb-form :style="{marginTop:40,paddingLeft:16,paddingRight:16}">
        <nb-item
          rounded
          :style="{height:36,overflow: 'hidden'}"
        >
          <nb-input
            :style="{paddingLeft:10}"
            placeholder="Enter name"
            v-model="name"
          />
          <nb-button
            :style="{padding:10}"
            success
            :on-press="()=>{addData()}"
          >
            <nb-text>Add</nb-text>
          </nb-button>
        </nb-item>
      </nb-form>
    </nb-content>
  </nb-container>
</template>
<script>
import { ListView } from "react-native";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data: function() {
    return {
      ds: new ListView.DataSource({ rowHasChanged: (r1, r2) => r1 !== r2 }),
      item_current: "ahihi",
      name: null,
      users: [],
      stylesObj: {
        view: {
          height: this.$store.state.device_height - 250
        }
      }
    };
  },
  created() {
    this.$db
      .collection("users")
      .orderBy("created_at", "desc")
      .onSnapshot(querySnapshot => {
        this.users = [];
        querySnapshot.forEach(doc => {
          let data = doc.data();
          data.key = doc.id;
          this.users.push(data);
        });
      });
  },
  methods: {
    onRowOpen(arg1, index) {
      this.$set(this, "item_current", this.users[index].key);
    },
    checkKey(key) {
      return this.item_current !== key;
    },
    minusNum(args) {
      if (args.num > 0) {
        this.$db
          .collection("users")
          .doc(args.key)
          .set({
            name: args.name,
            avatar: args.avatar,
            num: --args.num,
            created_at: args.created_at
          });
      }
    },
    addNum(args) {
      this.$db
        .collection("users")
        .doc(args.key)
        .set({
          name: args.name,
          avatar: args.avatar,
          num: ++args.num,
          created_at: args.created_at
        });
    },
    getListArr() {
      return this.ds.cloneWithRows(this.users);
    },
    delItem(item, secId, rowId, rowMap) {
      rowMap[`${secId}${rowId}`].props.closeRow();
      this.$db
        .collection("users")
        .doc(item.key)
        .delete()
        .then(() => {});
    },
    addData() {
      this.$db
        .collection("users")
        .add({
          name: this.name,
          avatar:
            "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png",
          num: 1,
          created_at: this.$moment().format("YYYY-MM-DD HH:mm:ss")
        })
        .then(doc => {
          this.name = null;
        });
    }
  }
};
</script>
<style>
</style>
