<template>
  <view>
    <nb-footer
      v-if="$store.state.is_show_footer"
      :style="stylesObj.footerBar"
    >
      <nb-footer-tab>
        <nb-button
          :active="checkActive('Home')"
          :onPress="() => redirect('Home')"
        >
          <nb-icon
            type="MaterialCommunityIcons"
            name="home-outline"
          />
        </nb-button>
        <nb-button
          :active="checkActive('Stores')"
          :onPress="() => redirect('Stores')"
        >
          <nb-icon
            type="MaterialCommunityIcons"
            name="store"
          />
        </nb-button>
        <nb-button
          disabled
          transparent
        >
        </nb-button>
        <nb-button
          badge
          :active="checkActive('History')"
          :onPress="() => redirect('History')"
        >
          <nb-badge :style="{backgroundColor: $style.primary}">
            <nb-text>1</nb-text>
          </nb-badge>
          <nb-icon
            type="MaterialCommunityIcons"
            name="history"
          />
        </nb-button>
        <nb-button
          :active="checkActive('Profile')"
          :onPress="() => redirect('Profile')"
        >
          <nb-icon
            type="MaterialCommunityIcons"
            name="account-outline"
          />
        </nb-button>

      </nb-footer-tab>
    </nb-footer>
    <nb-button
      v-if="$store.state.is_show_footer"
      :onPress="() => redirect('Scan')"
      rounded
      active
      :style="stylesObj.primaryButton"
    >
      <nb-icon
        active
        type="MaterialCommunityIcons"
        :name="checkActive('Scan')?'close':'qrcode-scan'"
      />
    </nb-button>
  </view>
</template>

<script>
export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data: function() {
    return {
      stylesObj: {
        primaryButton: {
          shadowOffset: { width: 0, height: 0 },
          shadowRadius: 0,
          backgroundColor: this.$style.primary,
          position: "absolute",
          elevation: 4,
          height: 56,
          width: 56,
          bottom: 27,
          alignSelf: "center",
          justifyContent: "center"
        },
        footerBar: {
          borderTopWidth: this.$store.state.pixel_size,
          borderColor: "#ccc"
        }
      }
    };
  },
  methods: {
    checkActive(route_name) {
      let index = this.navigation.state.index;
      return this.navigation.state.routes[index].routeName == route_name;
    },
    redirect(route_name) {
      if (route_name == "Scan" && this.checkActive("Scan")) {
        return this.navigation.navigate("Home");
      }
      this.navigation.navigate(route_name);
    }
  }
};
</script>

<style>
.sidebar-content-wrapper {
  flex: 1;
  background-color: #fff;
}
</style>