<template>
  <view
    class="loading"
    :style="{height:$store.state.device_height}"
  >
    <nb-text :style="{ fontSize: 12, fontWeight: '200', color:'#fff' }">Loading</nb-text>
    <nb-spinner color="#00C9FF" />
  </view>
</template>

<script>
export default {};
</script>

<style>
.loading {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
</style>
