<template>
<view>
  <view v-if="$store.state.is_offline" :style="stylesObj.bar">
      <text class="text-network">Đang chờ kết nối mạng...</text>
  </view>
</view>
</template>

<script>
export default {
  data() {
    return {
      stylesObj: {
        bar: {
          width: "100%",
          backgroundColor: "#F44336",
          height: this.$store.state.os === "ios" ? 20 : this.$store.state.status_bar_height,
          zIndex: 99,
          elevation: 1,
          alignItems: "center",
          justifyContent: "center"
        }
      }
    };
  }
};
</script>

<style>
.text-network{
    color: white;
    font-size: 12;
}
</style>
