<template>
  <view :style="styleObj.container">
    <nb-spinner color="#00C9FF" />
  </view>
</template>

<script>
import { AsyncStorage } from "react-native";
export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      styleObj: {
        container: {
          backgroundColor: "#607D8B",
          ...this.$style.content_center
        }
      }
    };
  },
  created() {
    this._bootstrapAsync();
  },
  methods: {
    // Fetch the token from storage then navigate to our appropriate place
    async _bootstrapAsync() {
      try {
        const userData = await AsyncStorage.getItem("userData");
        if (userData) {
          this.$store.dispatch("setUser", JSON.parse(userData));
        }
        // This will switch to the App screen or Auth screen and this loading
        // screen will be unmounted and thrown away.
        this.navigation.navigate(userData ? "App" : "Auth");
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>